@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --beige: #f2ebe7;
  --purple: #b6a0c9;
  --grey: #4c403a;
  --green: #99b68b;
  --white: #f5f5f5;
}
.theme-green {
  --accent-color: #99b68b;
}

.theme-purple {
  --accent-color: #b6a0c9;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--beige);
}

.background {
  height: 120vh;
  position: absolute;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.gradient-image {
  width: 90%;
  margin-bottom: 50px;
}
.case-study-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-container {
  width: 75vw;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
}
.study-title {
  color: var(--accent-color);
  font-family: Inconsolata;
  font-size: 40px;
  font-weight: 600;
}
.study-text-title {
  font-family: Karla;
  font-weight: 500;
  font-size: 22px;
  color: var(--grey);
  margin: 20px 0 10px 0;
}
.study-divider {
  width: 105%;
  height: 1px;
  background-color: var(--accent-color);
  margin: 20px 0;
}
.study-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.study-info-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.study-info-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px 0 0;
}
.info-label {
  font-family: Inconsolata;
  font-weight: 600;
  color: var(--accent-color);
  margin: 0;
  font-size: 18px;
}
.info-value {
  font-family: Nunito;
  font-size: 20px;
  color: var(--grey);
}
.study-section .study-subtitle {
  font-family: Inconsolata;
  font-size: 25px;
  font-weight: 600;
  color: var(--accent-color);
  margin: 60px 0 20px 0;
}
.study-subsubsection {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.study-subsubsection .study-subsubtitle {
  font-family: Inconsolata;
  font-size: 30px;
  font-weight: 600;
  color: var(--grey);
  margin: 20px 0 10px 0;
}
.study-text {
  font-family: Nunito;
  font-size: 18px;
  color: var(--grey);
  line-height: 1.6;
  margin: 0 0 20px 0;
}
span {
  font-weight: 730;
  color: var(--accent-color);
}
.study-items-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 60px;
  align-items: left;
  width: 100%;
}

.study-items {
  display: flex;
  flex-direction: row;
  margin: 0 0 30px 0;
  gap: 50px;
  font-family: Nunito;
  font-size: 18px;
  justify-content: left;
  align-items: center;
  width: 80%;
}
.study-items .study-item {
  width: 100%;
  font-weight: 750;
  text-align: left;
  margin-bottom: 10px;
}
.study-item-group-text {
  width: 100%;
}
.study-list {
  font-family: Nunito;
  font-size: 18px;
  color: var(--grey);
  line-height: 1.6;
  margin: 0 0 20px 40px;
}
.study-image-text {
  font-family: Nunito;
  font-size: 18px;
  color: var(--grey);
  margin: 10px 0 40px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
}
.study-image-text img {
  width: 50%;
}
.image-text-content {
  width: 50%;
}
.image-text-title {
  font-weight: 750;
}
.study-text-section {
  display: flex;
  font-family: Nunito;
  font-size: 18px;
  color: var(--grey);
  flex-direction: column;
  width: 100%;
}
.study-text-section-title {
  font-weight: 750;
}
.study-text-section-content {
  margin: 0 0 20px 0;
}
.study-img-compare {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 20px 0;
}
.study-img-compare img {
    width: 100%;
}
.VideoTag {
    width: 100% !important;
    margin: 10px 0 40px 0;
}
.link {
  text-decoration: underline; 
  color: var(--grey);
  font-weight: 700;
}
.centered-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}