@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --beige: #f2ebe7;
  --purple: #b6a0c9;
  --transPurple: rgba(182, 160, 201, 0.9);
  --grey: #4c403a;
  --green: #99b68b;
  --transGreen: rgba(153, 182, 139, 0.9);
  --white: #f5f5f5;
}
.project {
  height: 540px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  flex-shrink: 0;
  margin-bottom: -100px;
  border-radius: 15px;
}
.project:hover {
  animation: rotate linear 0.6s 1;
  transition-duration: 200ms;
}
@keyframes rotate {
  0%,
  100% {
    transform: rotate(var(--start-rotation));
  }
  25% {
    transform: rotate(calc(var(--start-rotation) + 2deg));
  }
  75% {
    transform: rotate(calc(var(--start-rotation) - 2deg));
  }
}
.purple {
  --start-rotation: 3deg;
  transform: rotate(var(--start-rotation));
}

.green {
  --start-rotation: -3deg;
  transform: rotate(var(--start-rotation));
}
.project-top {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
}
.project-image {
  display: block;
  width: 570px;
}
.project-skills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Karla;
  opacity: 0;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  color: var(--white);
  margin: 0;
  z-index: 5;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
}
.purple .project-skills {
  background-color: var(--transPurple);
}
.green .project-skills {
  background-color: var(--transGreen);
}
.project:hover .project-skills {
  opacity: 100%;
  transition-duration: 200ms;
}
.project-text {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin: 30px 0 0 0;
}
.project-title {
  font-family: Inconsolata;
  font-size: 25px;
  font-weight: 500;
  color: var(--grey);
  margin: 0;
}
.purple .project-title span {
  font-weight: 700;
  color: var(--purple);
}
.green .project-title span {
  font-weight: 700;
  color: var(--green);
}
.project-description {
  font-family: Karla;
  font-size: 15px;
  font-weight: 500;
  color: var(--grey);
  margin: 0;
}

@media (min-width: 320px) and (max-width: 599px) {
  .project-top {
    border-radius: 5px;
  }
  .project {
    height: 295px;
    width: 320px;
    margin-bottom: 150px;
    border-radius: 5px;
  }
  .project-image {
    width: 300px;
  }
  .project-skills {
    font-size: 10px;
    font-weight: 700;
  }
  .project-text {
    width: 300px;
    margin: 15px 0 0 0;
  }
  .project-title {
    font-size: 17px;
  }
  .project-description {
    font-size: 13px;
  }
}
@media (min-width: 600px) and (max-width: 800px){
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .project-top {
    border-radius: 15px;
  }
  .project {
    height: 400px;
    width: 460px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  .project-image {
    width: 430px;
  }
  .project-skills {
    font-size: 18px;
    font-weight: 700;
  }
  .project-text {
    width: 430px;
    margin: 15px 0 0 0;
  }
  .project-title {
    font-size: 18px;
  }
  .project-description {
    font-size: 13px;
  }
}
@media (min-width: 801px) and (max-width: 1019px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .project-top {
    border-radius: 15px;
  }
  .project {
    height: 430px;
    width: 520px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  .project-image {
    width: 490px;
  }
  .project-skills {
    font-size: 20px;
    font-weight: 700;
  }
  .project-text {
    width: 490px;
    margin: 20px 0 0 0;
  }
  .project-title {
    font-size: 20px;
  }
  .project-description {
    font-size: 13px;
  }
}
@media (min-width: 1020px) and (max-width: 1380px) {
  .project-top {
    border-radius: 15px;
  }
  .project {
    height: 435px;
    width: 480px;
    margin-bottom: 50px;
    border-radius: 15px;
  }
  .project-image {
    width: 450px;
  }
  .project-skills {
    font-size: 19px;
    font-weight: 700;
  }
  .project-text {
    width: 450px;
  }
  .project-title {
    font-size: 25px;
  }
  .project-description {
    font-size: 13px;
  }
}