@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --light-blue: #E0EDED;
    --pink: #E76D83;
    --grey: #363537;
    --orange: #F1B780;
    --white: #F5F5F5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-blue);
    font-family: Nunito;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 100px;
    position: absolute;
    width: 100vw;
}

nav a {
    font-weight: 600;
    text-decoration: none;
    color: var(--pink);
    font-size: 18px;
    transition-duration: 300ms;
}

nav a:hover {
    color: var(--orange);
    transform: scale(1.03);
    transition-duration: 300ms;
}
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    padding-top: 180px;
    padding: 180px 8% 100px 8%;
}

.about-image-container {
    width: 45%;
    height: 100%;
    border-radius: 20px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#about-image {
    object-fit: cover;
    height: 120%;
}

.about-text {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.about-text h1 {
    font-size: 38px;
    margin: 0;
    font-weight: 700;
    color: var(--pink);
}

.about-text p {
    font-size: 18px;
    color: var(--grey);
    margin: 10px 0;
}
.about-text b {
    font-weight: 800;
}
b, .pink {
    color: var(--pink);
}
b, .orange {
    color: var(--orange);
}

.skillset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40vh;
    margin: 0 8% 0 8%;
    padding: 4%;
    background-color: #F4C497;
    border-radius: 20px;
}
.skillset-container h1{
    color: var(--white);
    font-size: 45px;
}
.skillset-container p {
    color: var(--white);
    font-size: 18px;
    margin: 10px 0;
}
.skillset-container h2 {
    color: var(--pink);
    font-size: 25px;
    margin: 10px 0;
}


footer {
    height: 120px;
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1vh 2vw 3vh 2vw;
    margin-top: 80px;
}
.footer-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
    padding-left: 20px;
    color: var(--white);
}
.footer-left p {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
#footer-logo:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer;
}
#footer-logo{
    transition-duration: 300ms;
}
.footer-middle {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition-duration: 300ms;
}
.footer-middle img:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer;

}
.footer-middle img{
    transition-duration: 300ms;
}
.footer-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--white);
    font-weight: 600;
    gap: 15px;
}
.footer-right p {
    font-size: 15px;
    margin: 0;
}
#footer-contact {
    font-size: 25px;
    font-weight: 800;
}
#footer-email {
    text-decoration: none;
    color: var(--white);
    transition-duration: 300ms;
}
#footer-email:hover {
    transform: scale(1.02);
    transition-duration: 300ms;
}

