@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --light-blue: #E0EDED;
    --pink: #E76D83;
    --grey: #363537;
    --orange: #F1A259;
    --white: #F5F5F5;
}

body {
    background-color: var(--light-blue);
    color: var(--pink);
    font-family: Nunito;
}
h1 {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 10px;

}
h2 {
    color: var(--grey);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 60px;
}
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.error-socials {
    background-color: var(--pink);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 80px;
}
.error-socials img {
    transition-duration: 300ms;
}
.error-socials img:hover {
    transform: scale(1.08);
    transition-duration: 400ms;
}
